<!DOCTYPE html>
<html>
<head>
  <title>Edit Product</title>
  <!-- Add Bootstrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Edit Product</h1>
    <form action="/products/<%= product._id %>/edit" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="product_id">ID:</label>
        <input type="text" name="product_id" id="product_id" class="form-control" value="<%= product.product_id %>" required>
      </div>
      <div class="form-group">
        <label for="product_name">Name:</label>
        <input type="text" name="product_name" id="product_name" class="form-control" value="<%= product.product_name %>" required>
      </div>
      <div class="form-group">
        <label for="category_id">Category:</label>
        <select name="category_id" id="category_id" class="form-control" required>
          <% categories.forEach(function(category) { %>
            <option value="<%= category._id %>" <%= category._id.toString() === product.category_id.toString() ? 'selected' : '' %>><%= category.category_name %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="product_price">Price:</label>
        <input type="text" name="product_price" id="product_price" class="form-control" value="<%= product.product_price %>" required>
      </div>
      <div class="form-group">
        <label for="product_description">Description:</label>
        <textarea name="product_description" id="product_description" class="form-control" required><%= product.product_description %></textarea>
      </div>
      <div class="form-group">
        <label for="product_image">Image:</label>
        <input type="file" name="product_image" id="product_image" class="form-control-file">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity" id="quantity" class="form-control" value="<%= product.quantity %>" required>
      </div>
      <div class="form-group">
        <label for="datetime">Date/Time:</label>
        <input type="datetime-local" name="datetime" id="datetime" class="form-control" value="<%= product.datetime %>" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <!-- Add Bootstrap JS script links -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
